* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 1024px;
}

.intro-chunk {
  margin-top: 96px;
  max-width: 100%;
  padding-left: 32px;
  width: 448px;
}

.intro-chunk .title {
  margin-bottom: 48px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
  height: 100%;
  margin-top: 64px;
}

main section {
  margin-top: 64px;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  max-width: 100%;
  padding-top: 8px;
  width: 820px;
}

.card .indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -8px;
  margin-top: 0;
  max-width: calc(100% - 16px);
  padding: 16px 32px;
  width: fit-content;
}

.card p {
  padding: 0 24px;
}

